{% extends 'driver/base/base.html' %}

{% block content %}
    <div class="alerts" id="alerts">
    {% if success %}
        <p class="alert-success">
            {{ success }}
        </p>
    {% endif %}
    {% if error %}
        <p class="alert-danger">
            {{ error }}
        </p>
    {% endif %}
    </div>
    <div class="containerIndex">
        <div class="indexgrid">
            <div>
                p
            </div>
            <div>
                p
            </div>
            <div>
                p
            </div>
      {% if loads %}
            <div class="myloads">
                <div class="myloads-table">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Load ID</th>
                            <th>Origin</th>
                            <th>Destination</th>
                            <th>Miles</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for load in loads %}
                            <tr>
                                <td>{{ load[26] }}</td>
                                <td>{{ load[0] }}</td>
                                <td>{{ load[5] }}</td>
                                <td>{{ load[19] }}</td>
                                <td>
                                    <a href="/driver/loads/delete/{{ load[26] }}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        {% if loads2 %}
            <div class="myloads">
                <div class="myloads-table">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Load ID</th>
                            <th>Origin</th>
                            <th>Destination</th>
                            <th>Miles</th>
                            <th>Delete</th>
                            <th>Assign</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for load in loads2 %}
                            <tr>
                                <td>{{ load[26] }}</td>
                                <td>{{ load[0] }}</td>
                                <td>{{ load[5] }}</td>
                                <td>{{ load[19] }}</td>
                                <td>
                                    <a href="/driver/loads/delete/{{ load[26] }}" class="btn btn-danger">Delete</a>
                                </td>
                                <td>
                                    <a href="/driver/loads/assign/{{ load[26] }}" class="btn btn-success">Assign</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}