{% extends 'driver/base/base.html' %}

{% block content %}
    <div class="contprofile">
        <div class="profilecard">
            <div class="settings__img">
                <img src="{{ url_for('static', filename='img/letra-f.png') }}" alt="Profile">
            </div>
            <div class="settings__text">
                <p><b>Nombre: </b>{{ user[1] }}</p>
                <a href="mailto:{{ user[0] }}" style="text-decoration: none;"><p style="color: #0a8dd1"><b style="color: #3d3d3d">Correo: </b>{{ user[0] }}</p></a>
                <a href="tel:{{ user[2] }}" style="text-decoration: none;"><p style="color: #0a8dd1"><b style="color: #3d3d3d">Teléfono: </b>{{ user[2] }}</p></a>
                <p><b>Empresa: </b>{{ user[3] }}</p>
                <p><b>MC Number: </b>{{ user[4] }}</p>
                <p><b>Address: </b>{{ user[5] }}</p>
            </div>
        </div>
    </div>
{% endblock %}