{% extends 'front/base/base.html' %}

{% block content %}
    <div class="command__s1b">
        <div class="command__s1c">
            <h1>Affordable, Easy-To-Use TMS that Only Freight<br>Frenzy Can Delivery</h1>
            <p>The Industry´s First and Only Opertator and Driver Relationship (ODR) Plataform</p>
            <div class="command__s1cb">
                <a class="section3__btn2" href="{{ url_for("getademo") }}">See a Demo</a>
                <a class="section3__btn" href="{{ url_for("getademo") }}">Explore COMMAND</a>
            </div>
        </div>
    </div>
    <div class="command__s2">
        <h2>Save Time and Money Managing Your Fleet While<br>Enchancing the On-Road Experience for Your Drivers</h2>
        <div class="command__s2g">
            <div class="command__s2i-1">
                <div class="command__s2c">
                    <h3>For your drivers</h3>
                    <p>Improve the driver´s journey with real truck navigation,<br>parking availability, fuel price discovery and more all on your<br>company´s customized version of the Freight Frenzy app</p>
                </div>
            </div>
            <div class="command__s2i-2">
                <div class="command__s2c">
                    <h3>For your operators</h3>
                    <p>Increase operational efficiency by simplifying day-to-day<br>task like sourcing loads, dispatching, track & trace,<br>and document scanning & management.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="command__s3">
        <div class="command__s3c">
            <h2>Everything you need to manage your fleet</h2>
            <div class="command__s3g">
                <div class="command__s3gc">
                    <img src="/static/img/Img-1.a65904d3.png" alt="">
                    <h3>Most Popular Driver App</h3>
                    <p>Leverage Freight Frenzy’s app that over 1<br>million truck drivers rely upon for<br>essential information and services.</p>
                </div>
                <div class="command__s3gc">
                    <img src="/static/img/Img-2.1549cdf5.png" alt="">
                    <h3>Enterprise Truck Navigation</h3>
                    <p>Equip your drivers with our industry-<br>leading truck navigation for efficient<br>and safe routes.</p>
                </div>
                <div class="command__s3gc">
                    <img src="/static/img/Img-3.966dffec.png" alt="">
                    <h3>All-in-one Trucking Software</h3>
                    <p>Navigation, dispatch, workflows,<br>accounting and more between your<br>driver app and web platform.</p>
                </div>
                <div class="command__s3gc">
                    <img src="/static/img/Img-4.f23b9b41.png" alt="">
                    <h3>Load Management</h3>
                    <p>Comprehensive workflows for load<br>dispatching, tracking, document<br>scanning, settlements, and accounting.</p>
                </div>
                <div class="command__s3gc">
                    <img src="/static/img/Img-5.d35f0383.png" alt="">
                    <h3>Driver Management</h3>
                    <p>A centralized platform to communicate<br>and manage driver activity, compliance,<br>and productivity.</p>
                </div>
                <div class="command__s3gc">
                    <img src="/static/img/Img-6.593ef212.png" alt="">
                    <h3>Open Integrations</h3>
                    <p>Connect with your existing systems,<br>ELD and tracking platforms for a<br>reliable, single source of truth.</p>
                </div>
            </div>
            <div class="command__s3btn">
                <a class="section3__btn" href="{{ url_for("getademo") }}">See a Demo</a>
            </div>
        </div>
    </div>
    <div class="command__s4">
        <div class="command__s4m">
            <p class="command__s4mc command__s4mc-active" data-image="/static/img/load-img.9eb3a0f8.png">Create Load</p>
            <p class="command__s4mc" data-image="/static/img/driver-img.8d95078a.png">Dispatch Driver</p>
            <p class="command__s4mc" data-image="/static/img/track-progress-img.a4ebb6d9.png">Track Progress</p>
            <p class="command__s4mc" data-image="/static/img/document-img.b311e0f4.png">Document Management</p>
            <p class="command__s4mc" data-image="/static/img/complete-img.fe8f74e1.png">Complete Job</p>
        </div>
        <div class="command__s4c">
            <h2>Find and Book Loads</h2>
            <p>Connect your load board or customer platforms to search book, and create jobs ready for<br>your drivers to start hauling</p>
            <img src="/static/img/load-img.9eb3a0f8.png" alt="Find Loads" id="findloads">
        </div>
    </div>
    <div class="command__s5">
        <div class="command__s5s">
            <div class="command__s5g">
                <div>
                    <h2>Help Your Drivers Out with your<br>Company´s Customized Version<br>of Freight Frenzy</h2>
                    <p>As a Command customer, you can customize the look & feel of Freight Frenzy so<br>it matches your company branding & provide your drivers with the tools that<br>help maje jobs easier for everyone, especially your drivers.</p>
                    <h3>True Truck Navigation</h3>
                    <p>Best-in-class truck GPS ensures the quickest and safest<br>path, no matter how many stops you have plan.</p>
                    <ul>
                        <li class="command__s5li-1">Trip Planner</li>
                        <li class="command__s5li-2">Low Clearance</li>
                        <li class="command__s5li-3">All points of interest</li>
                    </ul>
                </div>
                <div class="command__s5gi">
                    <img src="/static/img/concise-slider0.e5b96b1e.png" alt="">
                </div>
            </div>
            <div class="command__s5g">
                <div>
                    <h2>Help Your Drivers Out with your<br>Company´s Customized Version<br>of Freight Frenzy</h2>
                    <p>As a Command customer, you can customize the look & feel of Freight Frenzy so<br>it matches your company branding & provide your drivers with the tools that<br>help maje jobs easier for everyone, especially your drivers.</p>
                    <h3>Parking availability</h3>
                    <p>Find trucks stops or rest areas with available truck<br>parking stops in real-time</p>
                    <ul>
                        <li class="command__s5li-4">Real-time updates</li>
                        <li class="command__s5li-5">20,000 parking locations</li>
                        <li class="command__s5li-6">Only safe parking</li>
                    </ul>
                </div>
                <div class="command__s5gi">
                    <img src="/static/img/concise-slider1.517085a7.png" alt="">
                </div>
            </div>
            <div class="command__s5g">
                <div>
                    <h2>Help Your Drivers Out with your<br>Company´s Customized Version<br>of Freight Frenzy</h2>
                    <p>As a Command customer, you can customize the look & feel of Freight Frenzy so<br>it matches your company branding & provide your drivers with the tools that<br>help maje jobs easier for everyone, especially your drivers.</p>
                    <h3>Weigh stations</h3>
                    <p>Curious if a weigh station is open? Our weigh station feature<br>is here to help</p>
                    <ul>
                        <li class="command__s5li-7">Open or closed</li>
                        <li class="command__s5li-8">Real-time updates</li>
                        <li class="command__s5li-9">Truck scales too</li>
                    </ul>
                </div>
                <div class="command__s5gi">
                    <img src="/static/img/concise-slider2.15ddfe3f.png" alt="">
                </div>
            </div>
            <div class="command__s5g">
                <div>
                    <h2>Help Your Drivers Out with your<br>Company´s Customized Version<br>of Freight Frenzy</h2>
                    <p>As a Command customer, you can customize the look & feel of Freight Frenzy so<br>it matches your company branding & provide your drivers with the tools that<br>help maje jobs easier for everyone, especially your drivers.</p>
                    <h3>Fuel prices</h3>
                    <p>Easily find places for fuel and which ones have the best<br>prices</p>
                    <ul>
                        <li class="command__s5li-10">5,000 + locations</li>
                        <li class="command__s5li-11">Real-time updates</li>
                        <li class="command__s5li-12">Only truck-ready stops</li>
                    </ul>
                </div>
                <div class="command__s5gi">
                    <img src="/static/img/concise-slider3.e03ca3b1.png" alt="">
                </div>
            </div>
            <div class="command__s5g">
                <div>
                    <h2>Help Your Drivers Out with your<br>Company´s Customized Version<br>of Freight Frenzy</h2>
                    <p>As a Command customer, you can customize the look & feel of Freight Frenzy so<br>it matches your company branding & provide your drivers with the tools that<br>help maje jobs easier for everyone, especially your drivers.</p>
                    <h3>POIs for Drivers</h3>
                    <p>Freight Frenzy features hundreds of thousands of points of<br>interest drivers rely upon. They can even be easily filtered to<br>only show the ones that matter to you and your drivers.</p>
                    <div class="command__s5g2">
                        <div>
                            <ul>
                                <li class="command__s5li-13">Weigh Stations</li>
                                <li class="command__s5li-14">Pilot & Flying J</li>
                                <li class="command__s5li-15">Truck Washes</li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li class="command__s5li-16">TA & Petro</li>
                                <li class="command__s5li-17">Fuel Stops</li>
                                <li class="command__s5li-18">CAT Scales</li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li class="command__s5li-19">Walmart</li>
                                <li class="command__s5li-20">Love`s</li>
                                <li class="command__s5li-21">and much more</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="command__s5gi">
                    <img src="/static/img/concise-slider4.1b779ef3.png" alt="">
                </div>
            </div>
            <div class="command__s5g">
                <div>
                    <h2>Help Your Drivers Out with your<br>Company´s Customized Version<br>of Freight Frenzy</h2>
                    <p>As a Command customer, you can customize the look & feel of Freight Frenzy so<br>it matches your company branding & provide your drivers with the tools that<br>help maje jobs easier for everyone, especially your drivers.</p>
                    <h3>Shipping facility insights</h3>
                    <p>Provides driver with relevant insights on their pick-up and<br>drop-off locations.</p>
                    <ul>
                        <li class="command__s5li-22">Truck entrance & exit at 300,000 locations</li>
                        <li class="command__s5li-23">Verified location information</li>
                        <li class="command__s5li-24">Real driver experiences & reviews</li>
                    </ul>
                </div>
                <div class="command__s5gi">
                    <img src="/static/img/concise-slider5.f7cbd636.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="command__s6">
        <div class="command__s6g">
            <div class="command__s6c">
                <h2>Green Line Transport LLC</h2>
                <span>Gary Toz, Manager</span>
                <p>My drivers already use Freight Frenzy, so<br>there was no friction in getting them<br>setup, and I’m able to dispatch loads to<br>my drivers knowing they get truck safe<br>routes. No regrets and I definitely<br>recommend this system.</p>
            </div>
            <div class="command__s6c">
                <h2>Swathmore and Brothers LLC</h2>
                <span>Kevin Swathmore, Founder</span>
                <p>Saved my drivers having to switch<br>around 7 different apps just to drive a<br>load. Most companies say they do it all,<br>but this is the real deal here.</p>
            </div>
            <div class="command__s6c">
                <h2>KEB Transport LLC</h2>
                <span>Ryan Gosich, Founder</span>
                <p>Really smooth interface and allows me<br>to see all my drivers at a glance, and<br>send them trips with fuel stops in our<br>network. This was able to save our<br>team real money and time.</p>
            </div>
        </div>
        <div class="command__s6btn">
            <a class="section3__btn" href="{{ url_for('getademo') }}">See a Demo</a>
        </div>
    </div>
{% endblock %}