{% extends 'front/base/base.html' %}

{% block content %}
    <div class="company">
        <h1>The Freight Frenzy Story</h1>
        <p>Building a community, revolutionizing an industry</p>
        <div class="company__content">
            <h2>About Us</h2>
            <p><span>Freight Frenzy</span> is America’s fastest growing platform for the trucking industry, providing navigational assistance and freight matching.</p>
            <p>Regarded as America’s most popular app for truckers, the <span>Freight Frenzy</span> app is a trip planning companion for truck drivers, enabling a large community of drivers to help update the real-time status of places on their route. It helps truckers find truck stops, available parking, rest areas, open/closed weigh stations, and much more. It improves truckers’ lives by reducing the frustrations of unproductive stops and sleep deprivation.</p>
            <p>Expanding on the success of <span>Freight Frenzy</span>, the company introduced TruckLoads. TruckLoads is aimed at helping brokers connect with carriers in their own private network.</p>
            <p><span>Freight Frenzy</span> and TruckLoads are recognized by industry leaders, major media outlets, and truckers themselves as the company bringing latest technology into the transportation industry.</p>
            <div class="company__grid">
                <div>
                    <h3>VISION</h3>
                </div>
                <div>
                    <p>To be the technology platform that eliminates inefficiencies in the transportation industry.</p>
                </div>
                <div>
                    <h3>MISSION</h3>
                </div>
                <div>
                    <p><span>Freight Frenzy</span> exists to make freight transportation fast, reliable, and efficient by bringing the most advanced technology to its community.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}