{% extends 'front/base/base.html' %}

{% block content %}
    <div class="banner">
        <h1>The Future of Trucking is Here</h1>
    <div class="banner__content">
        <div class="banner__c1">
            <h2>Freight Frenzy</h2>
            <p>Leading mapping and navigation app</p>
        </div>
        <div class="banner__c2">
            <h2>Freight Frenzy<br>DISPATCH</h2>
            <p>Personal dispatch service</p>
        </div>
        <div class="banner__c3">
            <picture>
                <source srcset="/static/img/tp-app@3x.webp" type="image/webp">
                <img src="/static/img/tp-app@3x.webp" alt="TruckLoads" class="banner__c3i1">
            </picture>
            <img src="/static/img/head-phone-android.png " alt="TruckLoads" class="banner__c3i2">
        </div>
        <div class="banner__c4">
            <h2>TruckLoads</h2>
            <p>Helping carriers to find and move freight</p>
        </div>
        <div class="banner__c5">
            <h2>Freight Frenzy<br>COMMAND</h2>
            <p>A new kind of TMS</p>
        </div>
    </div>
    </div>
    <div class="section1">
        <h2>Freight Frenzy</h2>
        <p>America’s most popular app for truck drivers. Millions of truckers all over the<br>country use Freight Frenzy to find the closest truck stop, available parking, weigh<br>station, fuel stops, trip planning and truck-safe routing. Join the community of<br>nearly 1 million active drivers today!</p>
    <div class="section1__grid">
        <div>
            <h3>8M+</h3>
            <p>App downloads</p>
        </div>
        <div>
            <h3>700M+</h3>
            <p>Truck-safe miles routed</p>
        </div>
        <div>
            <h3>4M+</h3>
            <p>Community generated<br>updates</p>
        </div>
        <div>
            <h3>500K+</h3>
            <p>Local business partners</p>
        </div>
    </div>
    </div>
    <div class="section2">
        <div class="section2__content">
            <div>
                <img src="/static/img/tp-app-img@3x.png" alt="">
            </div>
            <div class="section2__grid">
                <div>
                    <img src="/static/img/icon-truck-gps@3x.png" alt="">
                    <p>Truck GPS</p>
                </div>
                <div>
                    <img src="/static/img/icon-truck-restrictions@3x.png" alt="">
                    <p>Truck restrictions</p>
                </div>
                <div>
                    <img src="/static/img/tpp-icon-truckstop@2x.png" alt="">
                    <p>Truck stops</p>
                </div>
                <div>
                    <img src="/static/img/tpp-icon-ws@2x.png" alt="">
                    <p>Weigh stations</p>
                </div>
                <div>
                    <img src="/static/img/tpp-icon-parking@2x.png" alt="">
                    <p>Truck parking</p>
                </div>
                <div>
                    <img src="/static/img/tpp-icon-fuel@2x.png" alt="">
                    <p>Fuel stations</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section3">
        <h2>Freight Frenzy DISPATCH</h2>
        <p>Our expert personal dispatchers are here to make your job easier and make you more money.<br>Let us handle all the back-office work and get you more revenue hauling loads so you can just<br>concentrate on driving.</p>
        <h3>3 Easy Steps To More Money and Less Hassle</h3>
        <div class="section3__content">
            <div>
                <picture>
                    <source srcset="/static/img/1@3x.webp" type="image/webp">
                    <img src="/static/img/1@3x.webp" alt="">
                </picture>
                <p>Share your lane and commodity<br>preferences. No forced dispatches!</p>
            </div>
            <div>
                <picture>
                    <source srcset="/static/img/2@3x.webp" type="image/webp">
                    <img src="/static/img/1@3x.webp" alt="">
                </picture>
                <p>Your dispatcher finds the loads you want<br>and negotiates great rates.</p>
            </div>
            <div>
                <picture>
                    <source srcset="/static/img/3@3x.webp" type="image/webp">
                    <img src="/static/img/1@3x.webp" alt="">
                </picture>
                <p>Everything you need for the job goes<br>straight to your Trucker Path app. We<br>handle the office work!</p>
            </div>
        </div>
        <a class="section3__btn" href="{{ url_for('dispatch') }}">View More</a>
        <a class="section3__btn" href="{{ url_for('dispatch') }}">Get Started</a>
    </div>
    <div class="section4">
        <div class="section4__cont">
            <h2>Freight Frenzy COMMAND</h2>
            <p>If you’re a trucking fleet company looking to equip your drivers with truck dispatching and<br>navigation, we have an enterprise edition built on top of the Trucker Path app drivers know and<br>love. Get a true all-in-one fleet management system to grow your trucking fleet today!</p>
            <div class="section4__content">
                <div>
                    <h3>See it in Action</h3>
                    <p>Schedule a meeting with our team to see<br>our full suite of features designed to take<br>your trucking fleet to the next level.<br>Industry-leading software now made<br>available for fleets of all sizes!</p>
                    <a class="section3__btn" href="{{ url_for('command') }}">See it in action</a>
                </div>
                <div>
                    <h3>Start Your Free Trial Now</h3>
                    <p>Create an account and login to your own fleet<br>management system in 30 seconds. Equip your<br>trucking fleet with the best-in-class tools to<br>deliver freight more efficiently.<br><br></p>
                    <a class="section3__btn" href="{{ url_for('command') }}">Start Free Trial</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section5">
        <h2>TruckLoads</h2>
        <p>TruckLoads by Trucker Path helps carriers and owner operators move freight via<br>our mobile application and web portal. Thousands of qualified carriers are<br>searching through our platform to move the loads posted by hundreds of freight<br>companies. We are here to match up the two.</p>
        <div class="section5__content">
            <div class="section5__c1" data-image="/static/img/Frame191759.png">
                <h3>For Carriers</h3>
                <p>We aggregate loads from brokers, 3PLs,<br>shippers, so you have access to all the freight<br>available at your fingertips</p>
                <a class="section3__btn" href="{{ url_for('getademo') }}">Find Loads</a>
            </div>
            <div class="section5__c2" data-image="/static/img/tl-web-brokers@2x.png">
                <h3>For Brokers</h3>
                <p>The best way to reach qualified carriers and<br>get your freight<br>covered efficiently and reliably</p>
                <a class="section3__btn" href="{{ url_for('getademo') }}">Post Loads</a>
            </div>
        </div>
        <div class="section5__img">
            <img src="/static/img/Frame191759.png" alt="" id="truckloads">
        </div>
    </div>
    <div class="section6">
        <div class="section6__content">
            <div class="section6__grid">
                <div>
                    <p class="section6__gt">It gives me everything I need to know about a load. I look at it every day – one of the best load boards I’ve seen in a while.</p>
                </div>
                <div>
                    <p class="section6__gn"><span>Owner operator</span><br>— TruckLoads for Carriers</p>
                </div>
            </div>
            <div class="section6__grid">
                <div>
                    <p class="section6__gt">I'm a new truck driver so I especially find Trucker Path very helpful. It's an actual Trip planning/routing app. They show truck stops on your route, rest areas, scales; they even give you the truck entrances!</p>
                </div>
                <div>
                    <p class="section6__gn"><span>K Douglas</span><br>— Freight Frenzy app</p>
                </div>
            </div>
            <div class="section6__grid">
                <div>
                    <p class="section6__gt">Best app, recommend. Every driver gets it at orientation.</p>
                </div>
                <div>
                    <p class="section6__gn"><span>PAM Transport</span><br>— Freight Frenzy app</p>
                </div>
            </div>
            <div class="section6__grid">
                <div>
                    <p class="section6__gt">...this is one of the best mobile loadboards. Keep up the great work!!</p>
                </div>
                <div>
                    <p class="section6__gn"><span>Martin Negrete</span><br>— TruckLoads for Carriers</p>
                </div>
            </div>
            <div class="section6__grid">
                <div>
                    <p class="section6__gt">Don't often take time to write reviews of apps, but this one is so deserving in my line of work as a "trucker". Some things are just plain good and exceed expectations and this is one of those things.</p>
                </div>
                <div>
                    <p class="section6__gn"><span>Thomas Wynn</span><br>— Freight Frenzy app</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section7">
        <h2>Featured In</h2>
        <div class="section7__content">
            <img src="/static/img/logo-1@3x.png" alt="Featured In">
            <img src="/static/img/logo-2@3x.png" alt="Featured In">
            <img src="/static/img/logo-3@3x.png" alt="Featured In">
            <img src="/static/img/logo-4@3x.png" alt="Featured In">
            <img src="/static/img/logo-5@3x.png" alt="Featured In">
            <img src="/static/img/logo-6@3x.png" alt="Featured In">
            <img src="/static/img/logo-7@3x.png" alt="Featured In">
            <img src="/static/img/logo-8@3x.png" alt="Featured In">
            <img src="/static/img/logo-9@3x.png" alt="Featured In">
            <img src="/static/img/logo-10@3x.png" alt="Featured In">
        </div>
    </div>
    <div class="section8">
        <div class="section8__content">
            <div class="section8__g1">
            <img src="/static/img/icon-question@2x.png" alt="">
            </div>
            <div>
                <h2>Help Center</h2>
                <p>Got questions? <a href="">Let’s get you moving</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}