h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
}
h1{
    font-size: 44px;
}
h2{
    font-size: 24px;
}
p{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #606060;
}
.menu{
    display: grid;
    grid-template-columns: 100px 9fr;
    min-height: 100vh;
}
.select{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #0a8dd1;
}
.selected{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.select__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 50px;
    margin-top: 10px;
}
.select__logo img{
    width: 80px;
}
.select__menu{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.select__menu2{
    display: flex;
    flex-direction: column;
}
.select__menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 25px;
}
.select__menu2 a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 25px;
}
.select__menu a img{
    width: 50px;
    margin: 0 auto;
}
.select__menu2 a img{
    width: 50px;
    margin: 0 auto;
}
.mappage{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.map{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
}
.mapselect{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
}
.driversContent{
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}
.drivers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.drivers h2{
    font-size: 24px;
    color: #0a8dd1;
    margin-bottom: 10px;
}
.drivers label{
    font-size: 16px;
    color: #5b5b5b;
}
.drivers select{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: #606060;
}
.drivers button{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #0a8dd1;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
}
.hidden{
    display: none;
}
.addDrivers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.addDrivers h2{
    font-size: 24px;
    color: #0a8dd1;
    margin-bottom: 10px;
}
.driversFormContent{
    width: 90%;
    min-height: 90vh;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}
.driversForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.driversForm label{
    font-size: 16px;
    color: #5b5b5b;
}
.driversForm input{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: #606060;
}
.driversForm button{
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #0a8dd1;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
}
.formDrivers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.h2Map{
    font-size: 18px;
    color: #0a8dd1;
    margin-bottom: 10px;
    text-align: center;
}
.bodyContentMap p{
    font-size: 14px;
    color: #5b5b5b;
}
.spanMap{
    font-size: 15px;
    color: #0a8dd1;
}
.buttonsDrivers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10%;
}
.settings__content{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.settings__table{
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}
.settings__img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
}
.settings__img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.buttonSettings{
    border: none;
    border-radius: 5px;
    background-color: #0a8dd1;
    color: #fff;
    font-size: 16px;
    margin-top: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.loads__content{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}
.loads__h2{
    font-size: 24px;
    color: #0a8dd1;
    margin-bottom: 20px;
    text-align: center;
}
.loads__form{
    width: 1500px;
}
.loads__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.loads__grid4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.loads__grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.loads__grid3-4{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}
select{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: #606060;
}
textarea{
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #606060;
}
.containerLoads{
    width: 90%;
    border-radius: 5px;
    background-color: white;
    margin: 5vh auto;
}
.loadsp__grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 95%;
    height: 95%;
    margin: 0 auto;
    padding: 2.5% 0;
}
.formloads{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.formloads label{
    font-size: 16px;
    color: #5b5b5b;
}
.formloads input{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: #606060;
}
.formloads button{
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #0a8dd1;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
}
.btnloads{
    cursor: pointer;
}
.load__sections{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.load__sections2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.contprofile{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profilecard{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}
.alerts{
    width: 90%;
    height: 100vh;
    margin: 10px auto;
    text-align: center;
}
.alert-success{
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.alert-danger{
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.containerIndex{
    width: 95%;
    height: 90vh;
    border-radius: 5px;
    background-color: white;
    margin: 5vh auto;
}
.indexgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    height: 100%;
    padding: 20px;
}
.assignContent{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.assign{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}
.assign h2{
    padding-bottom: 20px;
}
.assignBtn{
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #0a8dd1;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 20px;
}
@media (max-width: 480px){
    #listDrivers{
        display: none !important;
    }
    .loads__grid{
        grid-template-columns: 1fr;
    }
    .loads__form{
        width: 100%;
    }
    .containerLoads{
        width: 100%;
    }
    .loadsp__grid{
        width: 100%;
    }
}
@media (min-width: 480px) {
    #listDrivers2{
        display: none !important;
    }
    .loads__grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 768px) {
    .loads__grid{
        grid-template-columns: 1fr;
    }
    .loads__form{
        width: 100%;
    }
    .loadsp__grid{
        grid-template-columns: 1fr;
    }
}